<%- include("../partials/header") %>

<div class="container">
    <h3><%= genre_name %></h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data.forEach(function(ani) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= ani["mal_id"] %>">
                    <img src="<%= ani.images.webp.large_image_url %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= ani["mal_id"] %>"><%= ani["title"] %></a>
            </div>
            <div>
                <% if( ani.genres != null ){ %>
                    <% for( var j = 0; j < ani.genres.length; j++) { %>
                        <a href="/genre/anime/<%= ani.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= ani.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( ani["score"] != null || ani["score"] != '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= ani["score"] %></span>)</li>
                <% } %>
                <% ani.studios.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><a class="text-success" href="/studio/<%= studio["mal_id"] %>"><%= studio["name"] %></a></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= ani["source"] %> 
                    <% if( ani["episodes"] ){ %>
                        | <%= ani["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <% if(ani?.synopsis){ %>
                <%= ani?.synopsis?.substring(0,400) %>...
                <% } %>
                <br>
                <% if( ani?.aired?.string && ani.type){ %>
                    <span class="text-info"><em><%= ani.type %> - <%= ani.aired.string %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <%if(page==1){%>
                <% for(var i=parseInt(page);i<parseInt(page)+7 && i <= last_visible_page;i++){%>
                    <li class="page-item" style="margin-right: 0;">
                        <a class="page-link" href="/genre/anime/<%= genre_id %>/<%=i%>">
                            <%=i%>
                        </a>
                    </li
                <%}%>
            <%} else if(page>1){%>
                <% for(var i=parseInt(page)-1;i<parseInt(page)+6 && i <= last_visible_page ;i++){%>
                    <li class="page-item" style="margin-left: 0;">
                        <a class="page-link" href="/genre/anime/<%= genre_id %>/<%=i%>">
                            <%=i%>
                        </a>
                    </li>
                <%}%>
            <%}%>
        </ul>
    </nav>
</div>

<%- include("../partials/footer") %>