<%- include("./partials/header") %>

<div class="container">
    <div class="row mt-1 mx-0">
        <div class="col-lg-8 col-12">
            <h3><%= season_s.charAt(0).toUpperCase() + season_s.substring(1) %> <%= year %> Season</h3>
            <a href="/season/<%= next_year %>/<%= next_season_s %>" class="h6 nextSeason">
                Next Season: <%= next_season_s.charAt(0).toUpperCase() + next_season_s.substring(1) %> <%= next_year %> Season
            </a>
            <hr>
            <div class="row mt-1 mx-0">
                <%  let season = data1["data"] %>
                <% for( var i = 0; i < 10 ; i++ ){ %>
                    <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
                    <div class="rounded anime_cover mr-2">
                        <a href="/anime/<%= season[i]["mal_id"] %>">
                            <img class="coverimage" src="<%= season[i]["images"]["webp"]["large_image_url"] %>" width="100%" alt="anime-cover">
                        </a>
                    </div>
                    <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                        <a class="ml-1 anime_title text-truncate" href="/anime/<%= season[i]["mal_id"] %>"><%= season[i]["title"] %></a>
                    </div>
                    <div>
                        <% if( season[i].genres != null ){ %>
                            <% for( var j = 0; j < season[i].genres.length; j++) { %>
                                <a href="/genre/anime/<%= season[i].genres[j]["mal_id"] %>" class="badge badge-light genre"><%= season[i].genres[j]["name"] %></a>
                            <% } %>
                        <% } %>
                    </div>
                    <ul class="list-inline m-1">
                        <% if( season[i]["score"] != null && season[i]["score"] != '0' ){ %>
                        <li class="list-inline-item text-primary">Score (<span><%= season[i]["score"] %></span>)</li>
                        <% } else { %>
                        <li class="list-inline-item text-primary">Score (-)</li>
                        <% } %>
                        <% season[i].studios.forEach(function(studio){ %>
                        <li class="list-inline-item text-success"><a class="text-success" href="/studio/<%= studio["mal_id"] %>"><%= studio["name"] %></a></li>
                        <% }) %>
                        <li class="list-inline-item text-secondary"><%= season[i]["source"] %> 
                            <% if( season[i]["episodes"] ){ %>
                                | <%= season[i]["episodes"] %> Eps
                            <% } else { %>
                                | ? Eps
                            <% } %>
                        </li>
                    </ul>
                    <div style="height: 210px; overflow: hidden;">
                        <%= season[i]["synopsis"].substring(0,250) %>...
                        <br>
                        <% if( season[i]["airing_start"] != null && season[i].type != null){ %>
                            <span class="text-info"><em><%= season[i].type %>- <%= season[i]["airing_start"].substring(0,10) %></em></span>
                        <% } %>
                    </div>
                </div>
                <% }; %>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card mb-3">
                <h6 class="card-header text-center">Top Airing Anime</h6>
                <div class="tab-content">
                    <ul class="list-group list-group-css list-group-flush">
                        <% let airingAnime = data2["data"] %>
                        <% for( var i = 0; i < 10; i++) { %>
                        <li class="list-group-item px-2 py-1">
                            <div class="hover tiny_logo rounded float-left mr-2">
                                <a href="/anime/<%= airingAnime[i]["mal_id"] %>">
                                    <img class="rounded coverimage max-width" src="<%= airingAnime[i]["images"]["webp"]["large_image_url"] %>">
                                </a>
                            </div>
                            <div class="text-truncate pt-0 pb-1 mb-1 border-bottom">
                                <a class="manga_title text-truncate " href="/anime/<%= airingAnime[i]["mal_id"] %>"><%= i + 1 %>. <%= airingAnime[i]["title"] %></a>
                            </div>
                            <p class="text-truncate py-0 mb-1">
                                <span class="float-left">
                                    <span class="strong">Airing: </span>
                                    <% if( airingAnime[i]["aired"]["string"] != 0 && airingAnime[i]["aired"]["string"] != null) { %>
                                        <%= airingAnime[i]["aired"]["string"] %>
                                    <% } else { %>
                                        ?
                                    <% } %>
                                </span>
                                <span class="float-right">
                                    <% if( airingAnime[i]["score"] != 0 && airingAnime[i]["score"] != null) { %>
                                    Score (<%= airingAnime[i]["score"] %>)
                                    <% } else { %>
                                    Score (-)
                                    <% } %>
                                </span>
                            </p>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="card mb-3">
                <h6 class="card-header text-center">Top Upcoming Anime</h6>
                <div class="tab-content">
                    <ul class="list-group list-group-css list-group-flush">
                        <% let upcomingAnime = data3["data"] %>
                        <% for( var i = 0; i < 10; i++) { %>
                        <li class="list-group-item px-2 py-1">
                            <div class="hover tiny_logo rounded float-left mr-2">
                                <a href="/anime/<%= upcomingAnime[i]["mal_id"] %>">
                                    <img class="rounded coverimage max-width" src="<%= upcomingAnime[i]["images"]["webp"]["large_image_url"] %>">
                                </a>
                            </div>
                            <div class="text-truncate pt-0 pb-1 mb-1 border-bottom">
                                <a class="manga_title text-truncate " href="/anime/<%= upcomingAnime[i]["mal_id"] %>"><%= i + 1 %>. <%= upcomingAnime[i]["title"] %></a>
                            </div>
                            <p class="text-truncate py-0 mb-1">
                                <span class="float-left">
                                    <span class="strong">Airing: </span>
                                    <% if( airingAnime[i]["aired"]["string"] != 0 && airingAnime[i]["aired"]["string"] != null) { %>
                                        <%= airingAnime[i]["aired"]["string"] %>
                                    <% } else { %>
                                        ?
                                    <% } %>
                                </span>
                                <span class="float-right">
                                    <% if( upcomingAnime[i]["score"] != 0 && upcomingAnime[i]["score"] != null) { %>
                                    Score (<%= upcomingAnime[i]["score"] %>)
                                    <% } else { %>
                                    Score (-)
                                    <% } %>
                                </span>
                            </p>
                        </li>
                        <% } %>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>

