<!-- Displays data of a person -->

<%- include("../partials/header") %>

<div class="container">
    <div class="row mt-1">
        <div class="col-lg-12">
            <div class="card mb-3">
                <h6 class="card-header d-flex align-items-center">
                    <span class="mx-1">Studio <%= data.titles[0]?.['title'] %></span>
                </h6>
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-12">
                            <a href="/studio/<%= data.mal_id %>">
                                <img class="rounded opac" width="100%" src="<%= data.images.jpg.image_url %>">
                            </a>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-7 col-12">
                            <div class="row m-0 py-1 px-0">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Favorites:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.favorites %>
                                </div>
                            </div>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    About:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.about %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>